@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Zen Dots";
  src: url("/fonts/ZenDots-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Anek Devanagari";
  src: url("/fonts/AnekDevanagari-VariableFont_wdth,wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Bakbak One";
  src: url("/fonts/BakbakOne-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Inter", sans-serif;
}
