@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Zen Dots";
  src: url("https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap");
  font-display: swap;
}

@font-face {
  font-family: "Bakbak One";
  src: url("https://fonts.googleapis.com/css2?family=Bakbak+One&display=swap");
  font-display: swap;
}t

@font-face {
  font-family: "Poppins";
  src: url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
  font-display: swap;
}

@font-face {
  font-family: "Anek Devanagari";
  src: url("https://fonts.googleapis.com/css2?family=Anek+Devanagari:wght@100..800&display=swap");
  font-display: swap;
}
